/*
header div {
  background-color: #ffdf7f;
  text-align: center;
}

#ourhoney,
#tracehoney,
#facilities,
#contacts {
  width: 120px;
  height: 40px;
  margin-top: 5px;
  border: 1px solid #ffdf7f;
  border-radius: 45%;
}

#shopbutton {
  width: 100px;
  height: 40px;
  margin-top: 5px;
}
*/

body {
  color: #742305;
}

#menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#bee {
  width: 30px;
}

#shopbutton {
  background-color: #ffdf7f;
  width: 100px;
  height: 40px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 40px;
  color: #742305;
}

.Buttons {
  background-color: #ffdf7f;
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  color: #742305;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.card {
  background-color: #fef7e2;
  border-radius: 15%;
  width: 220px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.card h5 {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 10px;
}

.card p {
  padding-left: 12px;
  margin-top: 0;
  font-size: 11 px;
  margin-bottom: 40px;
}
.card button {
  text-align: center;
  font-weight: bold;
  color: #742305;
  border: none;
  background-color: #ffdf7f;
  margin-bottom: 15px;
  margin: auto;
  margin-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.twocards {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.twocards {
  display: flex;
  justify-content: space-between;
}
